<header>
    <title>About Us Page</title>
    <script src="../scripts/about-us.js"></script>
    <link rel="stylesheet" href="../styles/navigation.css">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

</header>

<body>

    <div class="navigation-bar">

        <ul>
            <li><a href="main.html" class="list-item">Home</a></li>
            <li><a href="new-cars.html">New Cars for Sale</a></li>
            <li><a href="used-cars.html">Used Cars for Sale</a></li>
            <li><a href="contact.html">Contact Us</a></li>
            <li><a href="about-us.html">About Us</a></li>
        </ul>

    </div>

    <h1 style="text-align: center;">About Us</h1>

    <hr id="about">

    <!-- About Section -->
    <div class="w3-container w3-padding-32 w3-center">
        <h3>Started With One Car, Ended Up Selling Hundreds</h3><br>
        <img src="../images/car image.jpg" alt="Cars in a Parking Lot" class="w3-image"
            style="display:block;margin:auto" width="800" height="533">
        <div class="w3-padding-32">
            <h4><b>Passed Down Generation to Generation</b></h4>
            <h6><i>120 years of history</i></h6>
            <p>
                Car business passed down 6 generations. Starting from my great, great, great... great grandfather, we have had this business in the family for years. We make a promise to you to be fair, trustworthy, and give you the best deal. Thank you for trusting us to put you in the vehicle of your dreams.

            </p>
        </div>
    </div>
    <hr>

</body>