<header>
    <title>Used Cars for Sale</title>
    <script src="../scripts/car-sale.js"></script>
    <link rel="stylesheet" href="../styles/navigation.css">
</header>

<body onload="setImage();">

    <div class="navigation-bar">

        <ul>
            <li><a href="main.html" class="list-item">Home</a></li>
            <li><a href="new-cars.html">New Cars for Sale</a></li>
            <li><a href="used-cars.html">Used Cars for Sale</a></li>
            <li><a href="contact.html">Contact Us</a></li>
            <li><a href="about-us.html">About Us</a></li>
        </ul>

    </div>

    <h1 style="text-align: center;">Car Checkout</h1>
    <hr>

    <img id="car" src="" alt="">
    <button onclick="sellCar()">Buy</button>
    <button onclick="cancel()">Cancel</button>

</body>