<header>
    <title>New Cars for Sale</title>
    <script src="../scripts/new-cars.js"></script>
    <link rel="stylesheet" href="../styles/navigation.css">
</header>

<body>

    <div class="navigation-bar">

        <ul>
            <li><a href="main.html" class="list-item">Home</a></li>
            <li><a href="new-cars.html">New Cars for Sale</a></li>
            <li><a href="used-cars.html">Used Cars for Sale</a></li>
            <li><a href="contact.html">Contact Us</a></li>
            <li><a href="about-us.html">About Us</a></li>
          </ul>

    </div>

<h1>New Cars for Sale</h1>

</body>