<header>
    <title>Used Cars for Sale</title>
    <script src="../scripts/used-cars.js"></script>
    <link rel="stylesheet" href="../styles/navigation.css">
    <link rel="stylesheet" href="../styles/used-cars.css">
</header>

<body>

    <div class="navigation-bar">

        <ul>
            <li><a href="main.html" class="list-item">Home</a></li>
            <li><a href="new-cars.html">New Cars for Sale</a></li>
            <li><a href="used-cars.html">Used Cars for Sale</a></li>
            <li><a href="contact.html">Contact Us</a></li>
            <li><a href="about-us.html">About Us</a></li>
        </ul>

    </div>

    <h1 style="text-align: center;">Used Cars for Sale</h1>
    <hr>
    <div class="used-car-images-container">
        <div class="row">
            <div class="vehicle-card">
                <img class="car-image" src="../images/used-car-1.webp" alt="white ford taurus">
                <h4 class="car-name">Ford Taurus - white </h4>
                <p class="car-description"> 1999 ford taurus. Car runs great. 120k miles</p>
            </div>
            <div class="vehicle-card">
                <img class="car-image" src="../images/volkswagen beetle.jpg" alt="white ford taurus">
                <h4 class="car-name">Volkswagen Beetle - Silver </h4>
                <p class="car-description"> 2010 VW Beetle. Car runs great. 60k miles</p>
            </div>
            <div class="vehicle-card">
                <img class="car-image" src="../images/dodge caravan.jpg" alt="white ford taurus">
                <h4 class="car-name">Dodge Caravan - White </h4>
                <p class="car-description"> 2017 Dodge Caravan. Car runs great. 20k miles</p>
            </div>
        </div>
    </div>

</body>